@font-face {
    font-family: 'CustomFont';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/earthorbiter.ttf ') format('truetype');
  }

$primaryn: #edd588;

@mixin bgbk{
    font-family: "CustomFont";
    /* font-size: 18px; */
    background: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: auto;
    background-repeat: repeat;
    color: $primaryn;
  }



body {
    font-family: 'CustomFont';
    font-size: 18px;
    @include bgbk;
    color: $primaryn;
     
}


.bg-bk{
    @include bgbk;
    color: $primaryn;
}



.header{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#logo{
    border: solid 2px $primaryn;
    border-radius: 50%;
}



.btn{
    font-family: 'CustomFont';
    padding: 15px;
    margin: 2px;
    color: black;
    font-size: 18px;
    background-color: $primaryn;
    border-radius: 15px;
}
#more {
    font-family:Verdana, Geneva, sans-serif;
    cursor:pointer;
  }